<!-- start: PAGE -->
	<div class="main-content">
		<!-- end: SPANEL CONFIGURATION MODAL FORM -->		
			<div class="container">				
					<div class="row">
						<div class="col-sm-12">
						<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-grid-6"></i>
									<a href="#">
										Tables
									</a>
								</li>
								<li class="active">
									Responsive Tables
								</li>
								<li class="search-box">
									<form class="sidebar-search">
										<div class="form-group">
											<input type="text" placeholder="Start Searching...">
											<button class="submit">
												<i class="clip-search-3"></i>
											</button>
										</div>
									</form>
								</li>
							</ol>
							<div class="page-header">
								<h1>Responsive Table <small>responsive tables samples</small></h1>
							</div>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->							
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-info">
								Please try to re-size your browser window in order to see the tables in responsive mode.
							</div>
							<!-- start: RESPONSIVE TABLE PANEL -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="fa fa-external-link-square"></i>
									Responsive Table
									<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="fa fa-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="fa fa-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-expand" href="#">
											<i class="fa fa-resize-full"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-bordered table-hover" id="sample-table-1">
											<thead>
												<tr>
													
													<th>Device Name</th>
													<th>Type</th>
													<th>User</th>
													<th><i class="fa fa-time"></i>Slug</th>
													<th class="center">Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
												<% if @devices != nil %>
														<% @devices.each do |d| %>		
												<td>
													<a data-remote="true" data-device-id="<%= d.id %>" id="device_id" class="device_link" >
                                					<%= d.name %>
                              						</a>
												</td>
															<td> <%= d.device_type.capitalize %> </td>
															<td>3,330</td>
															<td>Feb 13</td>
															<td class="center">
															<% if d.status_id == 1 %>
															<span class="label label-sm label-success">Available</span>
															<% elsif d.status_id == 2 %>
															<span class="label label-sm label-inverse">Un-available</span>
															<% else %>
															<span class="label label-sm label-danger">Using</span>
															<% end %>
															</td>		
															</tr>
														<% end %>
													<% end %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- end: RESPONSIVE TABLE PANEL -->
						</div>
					</div>
				</div>
			</div>

			<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: block;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">Device Request</h4>
				</div>
				
				<div class="modal-body">
					<div class="row">
						<div class="form-horizontal">
							<div class="form-group">
									<label class="col-sm-2 control-label"> Device name</label>
								<div class="col-sm-2">	
									<input type="text" value="device[name]" class="form-control" id="device_name" name="device[name]" disabled>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"> Slug</label>
									<div class="col-sm-2">	
										<input type="text" value="device[slug]" class="form-control" id="slug" name="device[name]" disabled>
									</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"> Device Type</label>
								<div class="col-sm-2">	
									<input type="text" value="device[device_type]" class="form-control" id="device_type" name="device[name]" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-light-grey">
						Close
					</button>

					<button id="req" type="button"  class="btn btn-blue req" data-remote="true" >
						Apply
					</button>
					
					

				</div>
			</div>
			
			<div id="ajax-modal" class="modal fade" tabindex="-1" style="display: none;"></div>
			


			<script>
				$(document).ready(function() {
						
					Main.init();
					UIModals.init();

				});
			</script>